@use "_variables" as *;

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  all: unset;
  cursor: pointer;

  &--primary {
    background-color: black;
    color: white;
    border-radius: 1000px;
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 1000px;
  }

  &--disabled {
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 1000px;
  }

  &--submit {
    background-color: $main-bg;
    border: 1px solid $accent;
    border-radius: 2px;
    text-align: center;
    transition: background-color 200ms ease-in-out;
  }

  &--submit:active {
    outline: 2px solid lighten($accent, 5%);
  }

  @media (hover: hover) {
    &--submit:hover {
      background-color: $accent;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  border-radius: 3px;

  .form__itm {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  label,
  .form__info {
    color: $text-clr-3;
  }

  input::placeholder {
    color: $text-clr-2;
  }

  input:not(input[type="checkbox"]) {
    all: unset;
    border-bottom: 1px solid $accent;
    padding: 0.2rem 0.5rem 0.2rem 0;
  }

  .form__hr {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $accent;
  }

  .form__hr span,
  .form__hr span {
    width: 100%;
    height: 1px;
    background: $accent;
  }

  .form__title {
    margin-bottom: 1rem;
  }

  .form__auth {
    display: flex;
    gap: 0.5rem;
  }

  .form__auth a {
    background: $accent;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid $accent;
    transition: background-color 200ms ease;
  }

  .form__auth a:active {
    border-radius: 3px;
    outline: 2px solid lighten($accent, 5%);
  }

  .form__auth svg {
    fill: white;
    display: block;
    width: 25px;
  }

  .btn--submit {
    width: 80%;
    padding-block: 0.5rem;
  }

  @media screen and (min-width: 500px) {
    border: 1px solid $accent;
  }

  @media (hover: hover) {
    .form__auth a:hover {
      background-color: $main-bg;
    }
  }
}

.toast {
  height: 65px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 0;
  max-width: 250px;
  padding: 0.8rem 1rem;
  align-items: center;
  display: flex;
  transform: translateX(100%);
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &--success {
    background-color: $toast-success;
  }

  &--danger {
    background-color: $toast-danger;
  }

  &--info {
    background-color: $toast-info;
  }

  &--warn {
    background-color: $toast-warn;
  }

  &--open {
    animation: toast-reveal 200ms ease-out;
    animation-fill-mode: forwards;
  }

  &--close {
    animation: toast-hide 200ms ease-out;
    animation-fill-mode: forwards;
  }

  p {
    color: $toast-fill;
    font-size: 0.9rem;
    max-width: 20ch;
  }

  &__icon {
    color: $toast-fill;
    font-size: 1.3rem;
    margin-top: 3px;
  }

  &__btn {
    position: absolute;
    right: 5px;
    top: 3px;

    i {
      color: $toast-fill;
      font-size: 1.2rem;
    }
  }
}

@keyframes toast-reveal {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-30%);
  }

  75% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(-5%);
  }
}

@keyframes toast-hide {
  100% {
    transform: translateX(100%);
  }

  75% {
    transform: translateX(-30%);
  }

  50% {
    transform: translateX(-20%);
  }

  0% {
    transform: translateX(-5%);
  }
}

.modal {
  height: 100vh;
  max-width: calc(100% - 80px);
  width: 100%;
  padding: 1rem;
  position: absolute;
  z-index: 999;
  background-color: $main-bg;


  .form {
    align-items: flex-start;
    margin-top: 1rem;
  }

  .form__itm {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 1rem;
  }

  &__title {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__close i {
    font-size: 1.3rem;
    color: $text-clr-2;
  }

  &__content {
    margin-top: 1rem;
  }
}
