@use "_variables" as *;

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  all: unset;
  cursor: pointer;

  &--primary {
    background-color: black;
    color: white;
    border-radius: 1000px;
  }

  &--secondary {
    background-color: transparent;
    outline: 1px solid black;
    color: black;
    border-radius: 1000px;
  }
}

