@use "_variables" as *;
@use "_components" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  background: $main-bg;
}

a {
  color: inherit;
}

section.hero {
  margin: 0 auto;
}

section {
  max-width: 1000px;
  margin: 2.5rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  background: inherit;
  top: 0;
  gap: 0.5rem;
  padding: 0.8rem;

  .nav__title {
    font-size: 2.3rem;
    text-decoration: none;
    font-weight: bold;
  }

  .nav__links {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    width: 30%;
  }

  .nav__links a:nth-child(2) {
    display: none;
  }

  .nav__links a {
    padding-block: 0.6rem;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 100px;
  }

  .nav__profile {
    display: flex;
    border: 1px solid $accent;
    border-radius: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: center;
  }

  .nav__profile span {
    border-radius: 100px;
    max-width: 50px;
    height: 100%;
  }

  .nav__profile span img {
    vertical-align: bottom;
    width: 100%;
    border-radius: 100px;
  }

  .nav__profile strong {
    display: none;
    text-transform: capitalize;
  }

  @media screen and (min-width: 500px) {
    .nav__profile span {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .nav__profile {
      padding-right: 1rem;
    }

    .nav__profile strong {
      display: block;
    }

    flex-direction: row;
    position: fixed;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    align-items: center;
    padding: 0.8rem 1.3rem;

    .nav__title {
      font-size: 3rem;
    }

    .nav__links a:nth-child(2) {
      display: block;
    }

    .nav__links {
      gap: 0.4rem;
      width: auto;
    }

    .nav__links a {
      width: 120px;
    }
  }
}

.hero {
  background-color: $accent;
  color: black;
  height: 330px;
  display: flex;

  &__sub {
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2.2rem;
    max-width: 25ch;
  }
}

.features {
  width: 90%;

  &__title {
    margin-block: 0.5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .list__itm {
    border: 2px dotted $accent;
    //background: #e7a991;
    border-radius: 3px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  p {
    max-width: 40ch;
    margin-top: 0.5rem;
    color: $text-clr-3;
  }

  .list__itm i {
    font-size: 2.2rem;
  }

  @media screen and (min-width: 500px) {
    .features__list {
      flex-direction: row;
    }
  }
}

.faq {
  width: 90%;

  &__title {
    margin-block: 0.5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__list li {
    border: 2px dotted $accent;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  p {
    color: $text-clr-3;
  }

  &__list div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.pricing {
  width: 90%;

  .pricing__prices {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-block: 1rem;
  }

  .pricing__prices .highlight {
    background: $accent;

    p {
      color: black;
    }
  }

  .pricing__prices .disabled {
    opacity: 0.5;
    user-select: none;
    cursor: not-allowed;

    .btn {
      pointer-events: none;
    }
  }

  .pricing__prices > div {
    display: flex;
    background: $main-bg;
    position: relative;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 3px;
    padding: 0.8rem 0.8rem 3rem 0.8rem;
    transition: box-shadow 500ms ease-in-out;
    border: 1px solid $accent;
    h3 {
      font-size: 1.75rem;
    }
  }

  p {
    color: $text-clr-3;
  }

  .btn {
    width: calc(100% - 2 * 0.8rem);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding-block: 0.5rem;
    text-transform: uppercase;
  }

  .pricing__features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .pricing__features li {
    display: flex;
    flex-direction: column;
  }

  .pricing__features li span:nth-child(1) {
    font-weight: bold;
  }

  @media screen and (min-width: 500px) {
    .pricing__prices {
      flex-direction: row;
    }

    .pricing__prices > div {
      max-width: 33%;
    }
  }
}

.sold-yet {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(
    180deg,
    lighten($accent, 3%),
    darken($accent, 5%)
  );
  padding: 2rem 1.5rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    max-width: 30ch;
    font-size: 1.8rem;
  }

  .btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}

.login-form {
  max-width: 500px;

  @media screen and (min-width: 500px) {
    margin-top: 8rem;
    .form {
      padding-block: 2rem;
    }
  }
}

.vnav {
  position: fixed;
  height: 100vh;
  width: fit-content;
  background-color: lighten($main-bg, 5%);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;

  &__profile {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid $accent;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__profile i {
    font-size: 2rem;
    color: $text-clr-2;
  }

  .profile__img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 100px;
  }

  li {
    transition: background-color 200ms ease;
    border-radius: 2px;
    aspect-ratio: 1 / 1;
    margin-block: 1rem;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__link i,
  &__logout i {
    font-size: 1.3rem;
    color: $accent;
    transition: color 200ms ease;
    padding: 0.5rem;
  }

  &__logout i {
    font-size: 1.5rem;
  }

  &__title {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
  }

  &__list {
    list-style: none;
  }

  li:active {
    outline: 2px solid lighten($accent, 10%);
  }

  @media (hover: hover) {
    li:hover {
      background-color: $accent;
    }

    li:hover i {
      color: white;
    }
  }
}

.dashboard-page {
  margin-left: 80px;
  width: calc(100% - 80px);
  overflow-x: hidden;

  section {
    margin-block: 0;
    height: 100vh;
  }
}

section.create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .btn {
    border-radius: 3px;
    height: 150px;
    aspect-ratio: 1;
    text-align: center;
    position: relative;
  }

  .btn p {
    position: absolute;
    bottom: 4px;
    text-transform: uppercase;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .btn i {
    font-size: 3rem;
  }

  .btn--primary {
    background: $accent;
  }

  .btn--secondary {
    border: 2px dotted $accent;
    background-color: transparent;
    color: $text-clr-3;
    transition: all 200ms ease-in-out;
  }

  @media screen and (min-width: 500px) {
    flex-direction: row;
    gap: 1rem;

    .btn {
      height: 190px;
    }

    .btn i {
      font-size: 3.5rem;
    }
  }
}
