<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Banter: dashboard</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <script type="module" defer src="/js/index.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="vnav">
      <div class="vnav__profile">
        <% if (user.profile) {%>
          <img class="profile__img" src="<%= user.profile %>" alt="<%=user.name %>"/>
        <%} else {%>
        <i class="bi bi-person-fill"></i>
        <%}%>
      </div>

    <ul class="vnav__list">
      <li>
        <a href="/dashboard/create" class="vnav__link">
          <i class="bi bi-plus-square"></i>
        </a></li>

      <li>
        <a href="/dashboard/manage" class="vnav__link">
          <i class="bi bi-gear"></i>
        </a></li>
      <li>
        <a href="/dashboard/create" class="vnav__link">
          <i class="bi bi-upload"></i>
        </a></li>
    </ul>
      <a class="vnav__logout" href="/logout" title="logout">
        <i aria-hidden class="bi bi-box-arrow-in-left"></i>
      </a>
    </div>

    <div class="dashboard-page" id="page"> </div>
</body>
</html>

