<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="css/style.css" media="all">
</head>
  <body>
    <h1>bye dude</h1>
  </body>
</html>

