<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Banter</title>
  <link rel="stylesheet" href="css/style.css" media="all">
</head>
<nav class="navbar">
  <span class="title nav__title">banter.</span>
  <div class="nav__links">
    <button href="#" class="btn btn--primary">build</button>
    <button href="#" class="btn btn--secondary">login</button>
  </div>
</nav>

<section class="hero">
  <h2 class="hero__sub">
    Unmute your voice, unleash your story through Banter;<br> <span class="coming-soon">Coming Soon.</span> 
  </h2>
</section>

<!--

<section class="features">
  <h2 class="features__title">Features</h2>
  <ul class="features__list">
    <li>
      <div>
        <h3>Crosspost</h3>
        <p>Expand your reach by sharing your content across multiple social media platforms at once with crossposting</p>
      </div>
    </li>
    <li>
      <div>
        <h3>Brand</h3>
        <p>Stand out from the crowd by creating a unique brand that represents your podcast and personality</p>
      </div>
    </li>
    <li>
      <div>
        <h3>Connect</h3>
        <p>Engage with your audience by increasing your visibility and reach across media platforms</p>
      </div>
    </li>
  </ul>
</section>

<!--

<section class="faq">
  <h2 class="faq__title">FAQ</h2>

  <ul class="faq__list">

    <li>
      <div>
        <h3>Why?</h3>
        <p>This is NOT meant to be a full on competetier to much well developed services such as <a href="https://anchor.fm">anchor.fm</a>, but simply an another option to consider</p>
      </div>
    </li>

    <li>
      <div>
        <h3>Is it secure?</h3>
        <p>The project uses <a href="https://www.mongodb.com/atlas">Atlas</a>, and is hosted on <a href="https://railway.app">railway.app</a>, this makes it largely secure, however I am no security expert and will be trying to the best of my abilities to secure this app further</p>
      </div>
    </li>


    <li>
      <div>
        <h3>The site is buggy</h3>
        <p>You can mail me at <a href="mailto:aadv1k@outlook.com">aadv1k@outlook.com</a> if you encounter any bug, or if you are familiar with <a href="https://github.com/aadv1k/banter">GitHub</a> you may raise a issue there.</p>
      </div>
    </li>

  </ul>

</section>
-->

</html>

