<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Banter</title>
  <link rel="stylesheet" href="style.css" media="all">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<nav class="navbar">
  <a class="title nav__title" href="/">banter.</a>
  <div class="nav__links">
    <a href="/signup" class="btn btn--primary">Sign Up</a>
    <a href="/login" class="btn btn--secondary">login</a>
  </div>
</nav>

<section class="hero">
  <h2 class="hero__sub">
    Unmute your voice, unleash your story through Banter. Create your podcast today
  </h2>
</section>

<section class="features">
  <h2 class="features__title">Features</h2>
  <ul class="features__list">
    <% [{icon: "bi bi-shuffle", title: "Crosspost", text: "Expand your reach by sharing your content across multiple social media platforms at once with crossposting"}, {icon: "bi bi-stars", title: "Brand", text: "Stand out from the crowd by creating a unique brand that represents your podcast and personality"}, {icon: "bi bi-people-fill", title: "Connect", text: "Engage with your audience by increasing your visibility and reach across media platforms"}].forEach(e => { %>
    <li class="list__itm">
      <div class="itm__wrapper">
        <h3><%= e.title %></h3>
        <p><%= e.text %></p>
      </div>
    </li>
    <% }) %>
  </ul>
</section>


<section class="pricing">
  <h2 class="pricing__title">Pricing</h2>
  <div class="pricing__prices">

    <div class="pricing__pro highlight">
     <div>
       <h3>Podcaster</h3>
       <p>The best plan for anyone looking to start their own podcast</p>
     </div>
      <ul class="pricing__features ">
        <li>
          <span>1 GB</span> 
          <p>Of upload space</p>
        </li>

        <li>
          <span>Unlimited</span>
          <p>episodes and podcasts</p>
        </li>

        <li>
          <span>Connect</span>
          <p>accounts and crosspost via RSS</p>
        </li>

        <li>
          <span>Export</span>
          <p>user data or import from other platform</p>
        </li>
      </ul>
      <a href="/signup" class="btn btn--primary">Sign up</a>
    </div>

    <div class="pricing__enterprise disabled">
     <div>
       <h3>Studio</h3>
       <p>the plan for large scale studios and other large scale creators</p>
     </div>
      <ul class="pricing__features">
        <li>
          <span>5 GB</span> 
          <p>Of upload space</p>
        </li>
        <li>
          <span>Unlimited</span>
          <p>episodes and podcasts</p>
        </li>

        <li>
          <span>Connect</span>
          <p>accounts and crosspost via RSS</p>
        </li>

        <li>
          <span>Export </span>
          <p>user data or import from other platform</p>
        </li>
      </ul>
      <a href="/signup" class="btn btn--primary">coming soon</a>
    </div>
  </div>
</section>

<!--
<footer>
  <a href="#" class="title nav__title">banter</a>

  <ul class="footer__links">
    <li><a target="_blank" href="https://github.com/aadv1k/banter">
        <i class="bi bi-github"></i>
    </a></li>
  </ul>


  <ul class="footer__links">
    <li><a href="/dashboard">
        Dashboard
    </a></li>

    <li><a href="/login">
        Login
    </a></li>

    <li><a href="/signup">
        Signup
    </a></li>
  </ul>
  <p class="bottom">Made by <a target="_blank" href="https://github.com/aadv1k">Aadvik</a></p>
</footer>
  -->
</html>

