<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>shup</title>
</head>
<body>
  <form action="/login">
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="text" name="fname" placeholder="fname" required>
    <input type="text" name="lname" placeholder="lname" required>
    <button type="submit">SHUp</button>
  </form>
</body>
</html>
