<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>shup</title>
</head>
<body>
  <h1>SignUP</h1>
  <form method="POST">
    <input type="email" name="email" placeholder="email" required>
    <input type="text" name="name" placeholder="name" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Submit</button>
  </form
</body>
</html>
