<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Banter: Sign Up</title>
  <link rel="stylesheet" href="css/style.css" media="all">
</head>
<body>
  <nav class="navbar">
    <a class="nav__title" href="/">Banter.</a>
  </nav>

  <section class="login-form signup-form">
  <form method="POST" class="form form--login">
    <h2 class="form__title">Sign Up</h2>

    <div class="form__itm">
      <label for="name">Full name</label>
      <input type="text" name="name" placeholder="Eg John doe" required>
    </div>


    <div class="form__itm">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Eg example@foo.com" required>
    </div>

    <div class="form__itm">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Eg john123" required>
    </div>

    <button class="btn btn--submit" type="submit">Submit</button>

    <div class="form__hr">
      <span></span>
      or
      <span></span>
    </div>

    <div class="form__info">
      Already a user? <a href="/login">Login</a>
    </div>

    <div class="form__auth">
      <a href="/auth/microsoft" class="auth-microsoft">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
  <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/>
</svg>
      </a>

      <a href="/auth/spotify" class="auth-spotify">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
</svg>
      </a>
    </div>

  </form>
  </section>
</body>
</html>
