@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  all: unset;
  cursor: pointer;
}
.btn--primary {
  background-color: black;
  color: white;
  border-radius: 1000px;
}
.btn--secondary {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 1000px;
}
.btn--submit {
  background-color: #dbd5d2;
  border: 1px solid #f15b3e;
  border-radius: 2px;
  text-align: center;
  transition: background-color 200ms ease-in-out;
}
.btn--submit:active {
  outline: 2px solid #f36f56;
}
@media (hover: hover) {
  .btn--submit:hover {
    background-color: #f15b3e;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  border-radius: 3px;
}
.form .form__itm {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.form label, .form .form__info {
  color: #443b37;
}
.form input::placeholder {
  color: #7d6c64;
}
.form input {
  all: unset;
  border-bottom: 1px solid #f15b3e;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.form .form__hr {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f15b3e;
}
.form .form__hr span, .form .form__hr span {
  width: 100%;
  height: 1px;
  background: #f15b3e;
}
.form .form__title {
  margin-bottom: 1rem;
}
.form .form__auth {
  display: flex;
}
.form .form__auth a {
  background: #f15b3e;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #f15b3e;
  transition: background-color 200ms ease;
}
.form .form__auth:active {
  border-radius: 3px;
  outline: 2px solid #f36f56;
}
.form .form__auth svg {
  fill: white;
  display: block;
  width: 25px;
}
.form .btn--submit {
  width: 80%;
  padding-block: 0.5rem;
}
@media screen and (min-width: 500px) {
  .form {
    border: 1px solid #f15b3e;
  }
}
@media (hover: hover) {
  .form .form__auth a:hover {
    background-color: #dbd5d2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  background: #dbd5d2;
}

a {
  color: inherit;
}

section.hero {
  margin: 0 auto;
}

section {
  max-width: 1000px;
  margin: 2.5rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  top: 0;
  gap: 0.5rem;
  padding: 0.8rem;
}
.navbar .nav__title {
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: bold;
}
.navbar .nav__links {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  width: 30%;
}
.navbar .nav__links a:nth-child(2) {
  display: none;
}
.navbar .nav__links a {
  padding-block: 0.6rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 100px;
}
@media screen and (min-width: 500px) {
  .navbar {
    flex-direction: row;
    position: fixed;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    align-items: center;
    padding: 0.8rem 1.3rem;
  }
  .navbar .nav__title {
    font-size: 3rem;
  }
  .navbar .nav__links a:nth-child(2) {
    display: block;
  }
  .navbar .nav__links {
    gap: 0.4rem;
    width: auto;
  }
  .navbar .nav__links a {
    width: 120px;
  }
}

.hero {
  background-color: #f15b3e;
  color: black;
  height: 330px;
  display: flex;
}
.hero__sub {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2.2rem;
  max-width: 25ch;
}

.features {
  width: 90%;
}
.features__title {
  margin-block: 0.5rem;
}
.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
.features .list__itm {
  border: 2px dotted #f15b3e;
  border-radius: 3px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.features p {
  max-width: 40ch;
  margin-top: 0.5rem;
}
.features .list__itm i {
  font-size: 2.2rem;
}
@media screen and (min-width: 500px) {
  .features .features__list {
    flex-direction: row;
  }
}

.faq {
  width: 90%;
}
.faq__title {
  margin-block: 0.5rem;
}
.faq__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.faq__list li {
  border: 2px dotted #f15b3e;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}
.faq__list div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sold-yet {
  width: 90%;
  border-radius: 3px;
  background: #f15b3e;
  padding: 1.8rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
}
.sold-yet h2 {
  margin: 0;
  max-width: 30ch;
  font-size: 2rem;
}
.sold-yet .btn {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
}

.login-form {
  max-width: 500px;
}
@media screen and (min-width: 500px) {
  .login-form {
    margin-top: 8rem;
  }
  .login-form .form {
    padding-block: 2rem;
  }
}