@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.modal {
  height: 100vh;
  max-width: 600px;
  width: calc(100% - 50px);
  padding: 2rem 1rem 1rem 1rem;
  z-index: 999;
  background-color: #dbd5d2;
  overflow: hidden;
  position: fixed;
}
.modal .modal__close {
  position: absolute;
  top: 10px;
  right: 1rem;
}
.modal .form .btn--submit {
  width: 100%;
  padding-block: 0.3rem;
}
.modal .form {
  border: none;
}
.modal .form .form__itm {
  width: 100%;
}
.modal .form .form__file {
  height: 50px;
  background-size: cover;
  overflow: hidden;
}
.modal .modal__title-normal {
  color: #61544d;
}
.modal .modal__control {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.modal .modal__control .btn {
  border: 1px solid #f15b3e;
  flex: 50%;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding-block: 0.5rem;
  text-transform: capitalize;
  border-radius: 3px;
}
.modal .modal__control .btn--primary {
  background-color: #f15b3e;
  color: white;
}
.modal .modal__control .btn--secondary {
  background-color: transparent;
  color: #61544d;
}
.modal .modal__title {
  color: #d0c8c4;
  font-size: clamp(1.5rem, 15vw, 5.5rem);
  width: 100%;
  white-space: nowrap;
  left: 50%;
  top: -3%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  text-transform: capitalize;
}
.modal .modal__select {
  width: 100%;
  flex-direction: column;
}
.modal .modal__select select {
  width: 100%;
  background-color: #d0c8c4;
}
.modal .modal__close i {
  font-size: 1.4rem;
  color: #61544d;
}
.modal .modal__content {
  margin-top: 1rem;
}
@media screen and (min-width: 700px) {
  .modal {
    position: absolute;
    height: fit-content;
    border-radius: 2px;
    border: 1px solid #f15b3e;
    box-shadow: rgba(241, 91, 62, 0.5) 5px 5px, rgba(241, 91, 62, 0.3) 10px 10px, rgba(241, 91, 62, 0.2) 15px 15px, rgba(241, 91, 62, 0.1) 20px 20px, rgba(241, 91, 62, 0.05) 25px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal .modal__title {
    width: max-content;
    letter-spacing: 0;
    top: -8%;
  }
}

.toast {
  height: 65px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  z-index: 10000;
  right: 0;
  max-width: 400px;
  padding: 0.8rem 1.6rem 1rem 0.8rem;
  align-items: center;
  display: flex;
  transform: translateX(100%);
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.toast--success {
  background-color: #28A745;
}
.toast--danger {
  background-color: #DC3545;
}
.toast--info {
  background-color: #17A2B8;
}
.toast--warn {
  background-color: #FFC107;
}
.toast--show {
  animation: toast-reveal 200ms ease-out;
  animation-fill-mode: forwards;
}
.toast--hide {
  animation: toast-hide 200ms ease-out;
  animation-fill-mode: forwards;
}
.toast p {
  color: white;
  font-size: 0.9rem;
  max-width: 15ch;
}
.toast__icon {
  color: white;
  font-size: 1.3rem;
  margin-top: 3px;
}
.toast__btn {
  position: absolute;
  right: 5px;
  top: 3px;
}
.toast__btn i {
  color: white;
  font-size: 1.2rem;
}

@keyframes toast-reveal {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-30%);
  }
  75% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes toast-hide {
  100% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(-20%);
  }
  0% {
    transform: translateX(-5%);
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  border-radius: 3px;
}
.form .form__check {
  justify-content: flex-end;
  flex-direction: row-reverse !important;
}
.form .form__check input {
  all: revert !important;
}
.form .form__itm {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.form label,
.form .form__info {
  color: #61544d;
}
.form .form__itm > input::placeholder {
  color: #61544d;
}
.form .form__itm > input {
  all: unset;
}
.form .form__itm input:not(input[type=checkbox]) {
  border-bottom: 1px solid #f15b3e;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.form .form__select select {
  padding: 0.5rem 0.3rem;
  background: #d0c8c4;
  border: none;
}
.form .form__uploaded-bg img {
  border: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  top: 0;
}
.form .form__uploaded-name {
  color: #61544d;
}
.form .form__file {
  position: relative;
  align-items: center;
  flex-direction: row;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  outline: 2px dotted #f15b3e;
  justify-content: space-between;
}
.form .form__file label {
  display: none;
}
.form .form__file i {
  color: #d0c8c4;
  font-size: 2.5rem;
}
.form .form__file p {
  color: #61544d;
  font-size: 0.9rem;
  font-style: italic;
}
.form .form__file input {
  opacity: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
}
.form .form__hr {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f15b3e;
}
.form .form__hr span,
.form .form__hr span {
  width: 100%;
  height: 1px;
  background: #f15b3e;
}
.form .form__title {
  margin-bottom: 1rem;
}
.form .form__auth {
  display: flex;
  gap: 0.5rem;
}
.form .form__auth a {
  background: #f15b3e;
  padding: 0.5rem;
  border-radius: 3px;
  transition: background-color 200ms ease;
}
.form .form__auth a:active {
  border-radius: 3px;
  outline: 1px solid #f36f56;
}
.form .form__auth svg {
  fill: white;
  display: block;
  width: 25px;
}
.form .btn--submit {
  width: 80%;
  padding-block: 0.5rem;
}
@media screen and (min-width: 500px) {
  .form {
    border: 1px solid #f15b3e;
  }
}
@media (hover: hover) {
  .form .form__auth a:hover {
    background-color: #f36f56;
  }
}

.editor {
  border-radius: 2px;
  max-width: 600px;
}
.editor .editor__header {
  width: 100%;
  border-radius: 2px 2px 0 0;
  align-items: center;
  background-color: #e6e2e0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editor .editor__btn {
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  transition: 400ms ease-in-out;
}
.editor .editor__btn:active {
  background-color: #c4bbb6;
}
.editor .editor__url {
  background-color: #dbd5d2;
  border-radius: 100px;
  padding: 0.4rem 0.5rem;
  font-family: monospace;
  width: 100%;
  word-wrap: break-word;
}
.editor .editor__code {
  border-radius: 0 0 2px 2px;
  width: 100%;
  background-color: #d0c8c4;
  padding: 1rem;
  overflow-x: scroll;
}
.editor code {
  font-family: monospace;
  width: 100%;
  white-space: pre;
  color: #0c0a09;
}
@media screen and (min-width: 500px) {
  .editor .editor__header {
    flex-direction: row;
  }
}

.btn {
  all: unset;
  cursor: pointer;
  position: relative;
}
.btn span.loader {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 3.8px solid;
  border-color: #dbd5d2;
  border-right-color: #b9ada8;
  animation: spinner 1s infinite linear;
}
@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.btn--primary {
  background-color: black;
  color: white;
  border-radius: 1000px;
}
.btn--secondary {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 1000px;
}
.btn--disabled {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 1000px;
}
.btn--submit {
  background-color: #f15b3e;
  border: 1px solid #f15b3e;
  height: 20px;
  border-radius: 2px;
  text-align: center;
  transition: background-color 150ms ease-in-out, color 200ms ease-in-out;
}
.btn--submit:active {
  outline: 1px solid #f36f56;
}
@media (hover: hover) {
  .btn--submit:hover {
    background-color: #f15b3e;
    color: black;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  background: #dbd5d2;
}

a {
  color: inherit;
}

section.hero {
  margin: 0 auto;
}

section > h2:not(.hero__sub) {
  margin-block: 0.5rem;
  color: #d0c8c4;
  font-size: clamp(5rem, 15vw, 8em);
  position: absolute;
  z-index: -1;
  top: 0;
}
@media screen and (max-width: 350px) {
  section > h2:not(.hero__sub) {
    font-size: 3rem;
    top: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  section > h2:not(.hero__sub) {
    top: -10%;
  }
}

section {
  max-width: 1000px;
  margin: 3rem auto;
  position: relative;
  padding-top: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  background: inherit;
  top: 0;
  gap: 0.5rem;
  padding: 0.8rem;
}
.navbar .nav__title {
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}
.navbar .nav__links {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  width: 30%;
}
.navbar .nav__links a:nth-child(2) {
  display: none;
}
.navbar .nav__links a {
  padding-block: 0.6rem;
  font-size: 0.95rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 100px;
}
.navbar .nav__profile {
  display: flex;
  border: 1px solid #f15b3e;
  border-radius: 100px;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
}
.navbar .nav__profile span {
  border-radius: 100px;
  max-width: 50px;
  height: 100%;
}
.navbar .nav__profile span img {
  vertical-align: bottom;
  width: 100%;
  border-radius: 100px;
}
.navbar .nav__profile strong {
  display: none;
  text-transform: capitalize;
}
@media screen and (min-width: 500px) {
  .navbar {
    flex-direction: row;
    position: fixed;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    align-items: center;
    padding: 0.8rem 1.3rem;
  }
  .navbar .nav__profile span {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .navbar .nav__profile {
    padding-right: 1rem;
  }
  .navbar .nav__profile strong {
    display: block;
  }
  .navbar .nav__title {
    font-size: 2.5rem;
  }
  .navbar .nav__links a:nth-child(2) {
    display: block;
  }
  .navbar .nav__links {
    gap: 0.4rem;
    width: auto;
  }
  .navbar .nav__links a {
    width: 120px;
  }
}

.hero {
  background-color: #f15b3e;
  color: black;
  height: 350px;
  display: flex;
}
.hero__sub {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  max-width: 25ch;
}
@media screen and (min-width: 500px) {
  .hero {
    height: 350px;
  }
  .hero__sub {
    font-size: 2.4rem;
  }
}

.features {
  width: 90%;
  padding-top: 5rem;
  position: relative;
}
.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
.features h3 {
  color: #61544d;
  text-decoration: none;
  border-left: 3px solid #f15b3e;
  padding-left: 0.4rem;
  width: fit-content;
}
.features .list__itm {
  background-image: linear-gradient(90deg, #d6d0cc, #d5cecb);
  border-radius: 3px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.features p {
  max-width: 40ch;
  margin-top: 0.5rem;
  color: #61544d;
}
.features .list__itm i {
  font-size: 2.2rem;
}
@media screen and (min-width: 500px) {
  .features p {
    max-width: 100%;
  }
}

.faq {
  width: 90%;
}
.faq__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.faq__list li {
  background-color: #dbd5d2;
  border: 2px dotted #f15b3e;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}
.faq p {
  color: #0c0a09;
}
.faq__list div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pricing {
  width: 90%;
}
.pricing .pricing__prices {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pricing .pricing__prices .highlight {
  background: linear-gradient(180deg, #f2674c, #ef4726);
}
.pricing .pricing__prices .highlight p {
  color: black;
}
.pricing .pricing__prices .disabled {
  opacity: 0.6;
  user-select: none;
  cursor: not-allowed;
}
.pricing .pricing__prices .disabled .btn {
  pointer-events: none;
}
.pricing .pricing__prices > div {
  display: flex;
  background: #dbd5d2;
  position: relative;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 3px;
  padding: 0.8rem 0.8rem 3rem 0.8rem;
  transition: box-shadow 500ms ease-in-out;
  border: 1px solid #f15b3e;
}
.pricing .pricing__prices > div h3 {
  font-size: 1.75rem;
}
.pricing p {
  color: #0c0a09;
}
.pricing .btn {
  width: calc(100% - 1.6rem);
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-block: 0.5rem;
  text-transform: uppercase;
}
.pricing .pricing__features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pricing .pricing__features li {
  display: flex;
  flex-direction: column;
}
.pricing .pricing__features li span:nth-child(1) {
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  .pricing .pricing__prices {
    flex-direction: row;
    justify-content: center;
  }
  .pricing .pricing__prices > div {
    max-width: 50%;
  }
}

.sold-yet {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(180deg, #f2674c, #ef4726);
  padding: 2rem 1.5rem;
}
.sold-yet > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}
.sold-yet h2 {
  margin: 0;
  max-width: 30ch;
  font-size: 1.8rem;
}
.sold-yet .btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.login-form {
  max-width: 500px;
  margin-block: 0;
}
@media screen and (min-width: 500px) {
  .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  .login-form .form {
    padding-block: 2rem;
  }
}

.vnav {
  position: fixed;
  height: 100vh;
  width: fit-content;
  background-color: #e6e2e0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
.vnav__profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #f15b3e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vnav__profile i {
  font-size: 2rem;
  color: #61544d;
}
.vnav .profile__img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 100px;
}
.vnav li {
  transition: background-color 200ms ease;
  border-radius: 2px;
  aspect-ratio: 1/1;
  margin-block: 1rem;
}
.vnav__link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.vnav__link i, .vnav__logout i {
  font-size: 1.3rem;
  color: #f15b3e;
  transition: color 200ms ease;
  padding: 0.5rem;
}
.vnav__logout i {
  font-size: 1.5rem;
}
.vnav__title {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}
.vnav__list {
  list-style: none;
}
.vnav li:active {
  outline: 2px solid #f4836e;
}
@media (hover: hover) {
  .vnav li:hover {
    background-color: #f15b3e;
  }
  .vnav li:hover i {
    color: white;
  }
}

.dashboard-page {
  margin-left: 55px;
  width: calc(100% - 55px);
  overflow-x: hidden;
}
.dashboard-page section {
  margin-block: 0;
  height: 100vh;
}

section.create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
section.create .btn {
  border-radius: 3px;
  height: 150px;
  aspect-ratio: 1;
  text-align: center;
  position: relative;
}
section.create .btn p {
  position: absolute;
  bottom: 4px;
  text-transform: capitalize;
  font-size: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
section.create .btn i {
  font-size: 3rem;
}
section.create .btn--primary {
  background: #f15b3e;
}
section.create .btn--secondary {
  border: 2px dotted #f15b3e;
  background-color: transparent;
  color: #0c0a09;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 500px) {
  section.create {
    flex-direction: row;
    gap: 1rem;
  }
  section.create .btn {
    height: 190px;
  }
  section.create .btn i {
    font-size: 3.5rem;
  }
}

.podcast-modal .form__file {
  justify-content: left;
}
.podcast-modal .form__file .form__uploaded-name {
  background: rgba(97, 84, 77, 0.4);
  padding: 0.2rem 0.3rem;
  max-width: 100%;
  text-overflow: ellipses;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  border-radius: 2px;
  backdrop-filter: blur(5px);
}

section.share {
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.share .share__itm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section.share .editor {
  max-width: 100%;
}
section.share .itm__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg, #61544d, rgba(97, 84, 77, 0.4));
}
section.share .itm__title h2 {
  border-radius: 2px;
  color: #d0c8c4;
  width: 100%;
  font-size: clamp(2rem, 10vw, 3.8rem);
  white-space: nowrap;
}
section.share .itm__title .title__bg {
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

section.manage {
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.manage .manage__itm {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
section.manage .itm__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg, #61544d, rgba(97, 84, 77, 0.4));
}
section.manage .itm__title h2 {
  border-radius: 2px;
  color: #d0c8c4;
  width: 100%;
  font-size: clamp(2rem, 10vw, 3.8rem);
}
section.manage .itm__title .title__bg {
  width: 100%;
  top: -10%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
section.manage .title__control {
  display: flex;
  align-items: center;
}
section.manage .title__control .btn {
  background-color: transparent;
  border: none;
}
section.manage .title__control .btn i {
  color: #d0c8c4;
  font-size: clamp(2.5rem, 10vw, 3.5rem);
}
section.manage .itm__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  gap: 0.5rem;
}
section.manage .itm__control {
  display: flex;
}
section.manage .podcast__control {
  width: 100%;
}
section.manage .podcast__control .btn {
  background-color: #61544d !important;
  color: white !important;
  border: 1px solid #61544d !important;
}
section.manage .itm__control .btn:not(.podcast__control .btn) {
  border: 1px solid #f15b3e;
}
section.manage .itm__control .btn {
  padding: 0.3rem 0.4rem;
  flex: 50%;
  border-radius: 0;
  text-align: center;
  color: white;
  font-size: 0.95rem;
  border: none;
  background-color: #f15b3e;
}
section.manage .btn i {
  vertical-align: middle;
}
section.manage .itm__control .btn--secondary {
  background-color: transparent;
  border: 1px solid #f15b3e;
  color: #61544d;
}
section.manage .list__itm:not(.list__itm--disabled) {
  border-radius: 2px;
  padding: 0.4rem 0.3rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}
section.manage .itm__content strong {
  color: #61544d;
  font-weight: bold;
}
section.manage .itm__content p {
  color: #61544d;
}
section.manage .list__itm--disabled {
  background-color: #dbd5d2;
  border: none;
  padding-inline: 0;
}
section.manage .list__itm--disabled p {
  font-style: italic;
  color: #61544d;
}
@media screen and (min-width: 750px) {
  section.manage .itm__title {
    flex-direction: row;
    align-items: center;
  }
  section.manage .podcast__control {
    width: auto;
  }
  section.manage .list__itm:not(.list__itm--disabled) {
    flex-direction: row;
    align-items: center;
    padding-inline: 0.6rem;
  }
  section.manage .itm__control {
    gap: 0.3rem;
  }
  section.manage .itm__control .btn {
    border-radius: 2px;
    width: 25px;
    height: 25px;
  }
}

.overview__img {
  position: relative;
}
.overview__img img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  object-fit: cover;
  height: 500px;
}
.overview__content {
  padding-inline: 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

footer {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: #61544d;
  color: #d0c8c4;
}
footer .nav__title {
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: bold;
}
footer .footer__links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
footer li a i {
  font-size: 2rem;
}