@use "../variables" as *;

@forward "modal";
@forward "toast";
@forward "form";
@forward "editor";
@forward "btn";

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}
