@use "../variables" as *;

.modal {
  height: 100vh;
  max-width: 600px;
  width: calc(100% - 80px);
  padding: 2rem 1rem 1rem 1rem;
  z-index: 999;
  background-color: $main-bg;
  overflow: hidden;
  position: fixed;

  .modal__close {
    position: absolute;
    top: 10px;
    right: 1rem;
  }

  .form .btn--submit {
    width: 100%;
    padding-block: 0.3rem;
  }

  .form {
    border: none;
  }

  .form .form__itm {
    width: 100%;
  }

  .form .form__file {
    height: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .modal__title-normal {
    color: $text-clr-2;
  }

  .modal__control {
    display: flex;
    gap: .5rem;
    width: 100%;

    .btn {
      border: 1px solid $accent;
      flex: 50%;
      text-align: center;
      margin-top: .5rem;
      font-size: 1rem;
      padding-block: .5rem;
      text-transform: capitalize;
      border-radius: 3px;
    }

    .btn--primary {
      background-color: $accent;
      color: white;
    }

    .btn--secondary {
      background-color: transparent;
      color: $text-clr-2;
    }
  }

  .modal__title {
    color: $text-clr-1;
    font-size: clamp(1.5rem, 15vw, 5.5rem);
    width: 100%;
    white-space: nowrap;
    left: 50%;
    top: -3%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    text-transform: capitalize;
  }

  .modal__select {
    width: 100%;
    flex-direction: column;
  }

  .modal__select select {
    width: 100%;
    background-color: $text-clr-1;
  }

  .modal__close i {
    font-size: 1.4rem;
    color: $text-clr-2;
  }

  .modal__content {
    margin-top: 1rem;
  }

  @media screen and (min-width: 700px) {
    .modal__title {
      width: max-content;
      letter-spacing: 0;
      top: -8%;
    }

    position: absolute;
    height: fit-content;
    border-radius: 2px;
    border: 1px solid $accent;

    box-shadow: rgba(241, 91, 62, 0.5) 5px 5px, rgba(241, 91, 62, 0.3) 10px 10px, rgba(241, 91, 62, 0.2) 15px 15px, rgba(241, 91, 62, 0.1) 20px 20px, rgba(241, 91, 62, 0.05) 25px 25px;
    //box-shadow: 0 0 0 2px rgba(241, 91, 62, 0.8) , 8px 8px 0 0 darken(rgba(241, 91, 62, 1), 10%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
